





.character {
    width: 50%;
    text-align: left;
    margin: 0px;
    padding: 0px;
    margin-bottom: -30vh;
}

.character img {
   height: auto;
}
.char-left{
	text-align: left;
	padding: 0px 2.5%;
}
.char-right{
	text-align: right;
	padding: 0px 2.5%;
}
.speech {
    background: rgba(255, 255, 255, 0.85);
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 15px;
    opacity: 1;
    position: absolute;
    top: 0px;
}
html:lang(fa-IR) .speech {
    text-align: right;
}
.speech-left {
  border-right: 5px solid #00a594;
}

.speech-right {
  border-left: 5px solid #d99058;
}

.line {
  margin: 5px 0;
}



.un-stage-text h2 {
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    color: #333;
	margin: 10px 0px;
}


@media only screen and (max-width: 994px) {
.character img {
    height: auto;
}


}

