@font-face {
    font-family: 'IranSans';
    src: url('../fonts/iransans/IRANSansWeb.woff2') format('woff2'),
         url('../fonts/iransans/IRANSansWeb.woff') format('woff'),
         url('../fonts/iransans/IRANSansWeb.eot') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IranSans';
    src: url('../fonts/iransans/IRANSansWebBold.woff2') format('woff2'),
         url('../fonts/iransans/IRANSansWebBold.woff') format('woff'),
         url('../fonts/iransans/IRANSansWebBold.eot') format('truetype');
    font-weight: 700; /* بولد */
    font-style: normal;
    font-display: swap;
}