
body, .un-flow-popup, button {
    font-family: 'IranSans', sans-serif !important;
}

.un-flow-loading {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.7); 
            z-index: 9999;
}

.un-flow-loading .spinner {
            border: 4px solid #f3f3f3;
            border-top: 4px solid #1879bf;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: un-flow-spin 2s linear infinite; 
}

@keyframes un-flow-spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
}

.un-flow-popup {
    position: fixed;
    top: 10vh;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    background-image: linear-gradient(to bottom, #f5f8ff, #f9f9f9, #f5f8ff);
    z-index: 9999;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    max-height: 80vh;
    display: none;
    overflow-y: visible;
    transition: all 0.3s ease;
}
html .un-flow-popup {
    border-radius: 15px;
}
html:lang(fa-IR) .un-flow-popup {
    border-radius: 15px;
}
.un-flow-popup.open {
  display: block;
}

.un-flow-popup-inner {
  padding: 10px;
}

.un-flow-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.un-flow-popup-title {
  font-size: 18px;
  font-weight: bold;
  padding: 3px 10px 0px 0px;
}

.un-flow-popup-close {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  padding: 0px;
  color: #de2e4b;	
  border-radius: 100%;
  margin-top: -10px;
}
.un-flow-popup-close:hover {
  color: #de2e4bab;
  background-color: #ffffff;
}
.un-flow-popup-content {
  line-height: 1.6;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.un-flow-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.un-flow-item {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: #f9f9f9;
  margin-bottom: 5px;
  max-height: 30vh;
}

.un-flow-thumbnail {
    min-width: 45%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
}

.un-flow-info {
  padding: 10px;
  flex: 1;
}

.un-flow-info h4 {
  margin: 0 0 5px;
  font-size: 18px;
  font-weight: 600;
}

.un-flow-info p {
    margin: 5px 0;
    font-size: 13px;
}

.start-flow-button {
  padding: 6px 12px;
  background: #23527c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
html:lang(fa-IR).start-flow-button {
    float: right;
}
.start-flow-button {
    float: left;
}
.corner-inverse {
    position: absolute;
    top: -51px;
    width: 50px;
    height: 52px;
    z-index: 10;
    pointer-events: none;
}
html:lang(fa-IR) .corner-inverse {
    right: 0;
	-webkit-transform: scaleX(1);
    transform: scaleX(1);
}
html .corner-inverse {
    left: 0;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.un-stage-text{
    background-color: #fffa;
    padding: 5px;
    border-radius: 5px;	
}
.un-stage-text p{
    margin: 5px;
}
.un-stage-next-button{
	position: absolute;
    bottom: 0px;
    left: 10px;
    height: 32px;
}


.un-stage-next-button,.un-stage-restart-button,.un-stage-close-button ,.un-back-to-categories-button {
    padding: 6px 12px;
    background: #ffffff;
    color: #050505;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 8px 0px;
	transition: all .4s ease;
-webkit-transition: all .4s ease;
	margin-left: 5px;
}
.un-stage-next-button:hover,.un-stage-restart-button:hover,.un-stage-close-button:hover,.un-back-to-categories-button:hover {
    background: #8dff91;
}

.un-flow-popup-content {
    overflow-y: scroll;
}

.un-flow-popup-content::-webkit-scrollbar {
            width: 8px;
}
        
.un-flow-popup-content::-webkit-scrollbar-track {
            background-color: #eeeeeeaa;
            border: 0px solid #7e7e7e;
            border-radius: 6px;
}
        
.un-flow-popup-content::-webkit-scrollbar-thumb {
            background-color: #f1f1f1;
            border: 2px solid #999999;
            border-radius: 6px;
}
.un-flow-popup-overflow {
    position: fixed;
    height: 100vh;
    width: 100vw;
    right: 0;
    bottom: 0;
    background: rgb(0 0 0 / 65%);
	transition: all 0.3s ease;
}




.un-flow-button {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  animation: un-flow-scaleButton 10s ease-in-out infinite;	
}

.un-flow-button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.un-flow-button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
  background-color: #007fff;
}

@media (min-width: 768px) {
  .un-flow-button {
    padding: 16px 48px;
  }
}


@media only screen and (max-width: 994px) {
.un-flow-thumbnail {
    min-width: 45%;
    max-width: 150px;
}
}
@keyframes un-flow-scaleButton {
  0%, 100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  82% {
    transform: scale(1.1);
  }
  84% {
    transform: scale(1);
  }
  86% {
    transform: scale(1.1);
  }
  88% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  92% {
    transform: scale(1);
  }
  94% {
    transform: scale(1.1);
  }
  96% {
    transform: scale(1);
  }
}


.un-stage-type-video video {
    margin-bottom: -12px;
}



.un-flow-popup {
    min-height: 80vh;
}
.un-flow-popup-inner{
    height: 80vh;
}
.un-flow-popup-content {
    height: calc(80vh - 95px);
}
.un-stage-type-text  , .un-stage-type-video{
    height: calc(80vh - 95px);
}
.dialogue-scene , .un-stage-type-video video{
    height: calc(80vh - 95px);
}
.un-flow-popup-content , .un-quiz-question , .un-quiz-question , .un-quiz-options li {
    font-size: 1.6vw;
}
.un-flow-category-item{
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    margin: 1%;
    width: 31%;
	display: inline-block;
	cursor: pointer;
    font-size: 15px;
}
.un-flow-category-item h4{
    font-size: 18px;
}
@media only screen and (max-width: 994px) {

.un-flow-popup {
    min-height: 80vh;
    top: 20vh;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}
html .un-flow-popup , html:lang(fa-IR) .un-flow-popup {
    border-radius: 15px 15px 0px 0px;
}	
	
.un-flow-popup-inner{
    height: 80vh;
}
.un-flow-popup-content {
    height: calc(80vh - 95px);
}
.un-stage-type-text  , .un-stage-type-video{
    height: calc(80vh - 95px);
}
.dialogue-scene, .un-stage-type-video video{
    height: calc(80vh - 95px);
}
.un-flow-popup-content , .un-quiz-question , .un-quiz-question , .un-quiz-options li { 
    font-size: 2.5vw;
}
.un-flow-category-item h4{
    font-size: 16px;
}	

}

@media only screen and (max-width: 640px) {
.un-flow-popup {
    min-height: 85vh;
    top: 15vh;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
}
.un-flow-popup-inner{
    height: 85vh;
	padding: 10px 5px;
}
.un-flow-popup-content {
    height: calc(85vh - 95px);
}
.un-stage-type-text  , .un-stage-type-video{
    height: calc(85vh - 95px);
}
.dialogue-scene, .un-stage-type-video video{
    height: calc(85vh - 95px);
}
.un-flow-popup-content , .un-quiz-question , .un-quiz-question , .un-quiz-options li {
    font-size: 3vw;
}
.un-flow-category-item{
   width: 48%;
}	
.un-flow-category-item h4{
    font-size: 16px;
}	
	
}

@media only screen and (max-width: 480px) {
.un-flow-popup {
    min-height: 85vh;
    top: 15vh;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}
.un-flow-popup-inner{
    height: 85vh;
	padding: 5px 5px;
}
.un-flow-popup-content {
    height: calc(85vh - 95px);
}
.un-stage-type-text , .un-stage-type-video{
    height: calc(85vh - 95px);
}
.dialogue-scene, .un-stage-type-video video{
    height: calc(85vh - 95px);
}
.un-flow-popup-content {
    font-size: 3.4vw;
}
}




/*text.php*/

.dialogue-scene {
    display: block;
}
.character {
    margin-bottom: 0px;
	display: contents;
}	
.char-single {
    width: 100%;
}	
.character-single img {
    max-height: 350px;
    max-width: 70%;
}	
.char-single img {
    max-height: 330px;
    max-width: 75%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}	
.speech {
    top: 0px;
	z-index: 9;
}
.char-single .speech-right {
    border-right: 5px solid #d99058;
    border-left: 0px;
    max-width: 50%;
	left: 5px;
/*<?php if ($char2_text1) { ?>top: 0px;<?php } ?>
<?php if ($char2_text2) { ?>bottom: 5px;top: auto;<?php } ?>*/
}
.char-single .speech-left {
    border-left: 5px solid #00a594;
    border-right: 0px;
    max-width: 50%;
	right: 5px;
/*<?php if ($char1_text1) { ?>top: 0px;<?php } ?>
//<?php if ($char1_text2) { ?>bottom: 5px;top: auto;<?php }  ?>	*/	
}
	
.char-right img , .char-right img {
    max-height: 400px;
}    	
@media only screen and (max-width: 994px) {
.char-right img , .char-right img {
    max-height: 370px;
}  
}

@media only screen and (max-width: 640px) {
.char-right img , .char-right img {
    max-height: 330px;
}  
}

@media only screen and (max-width: 480px) {
.char-right img , .char-right img {
    max-height: 300px;
}  
}	
	
.char-left img {
    max-width: 45%;
    position: absolute;
    bottom: -50px;
    left: 0px;
}
.char-left .speech-left {
    border-left: 5px solid #00a594;
    border-right: 0px;
    top: 0px;
    left: 5px;
	max-width: 80%;
}


.char-right img {
    max-width: 45%;
    position: absolute;
    bottom: -50px;
    right: 0px;
}
.char-right .speech-right {
    border-right: 5px solid #d99058;
    border-left: 0px;
    top: auto;
    right: 5px;
    bottom: 10px;
}
	
.char-single.char-single-left img {
    right: 0px;
    left: auto;
}	
.next-level-alert{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -20px;
    z-index: 999;	
	display: none;
	opacity: 1;
    animation: blink 3s infinite;
}	
.next-level-alert-icon{
	position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -70px;
    margin-top: -70px;
    background-color: #ffffffa1;
    padding: 20px;
    border-radius: 30px;
	cursor: pointer;
}	
.un-stage-next-button-alert{
    animation: blink 2s infinite;
	}	
@media only screen and (max-width: 994px) {
    .character {
        margin-bottom: 0px;
    }
}
		
@media only screen and (max-width: 450px) {
.char-single img {
   left: -2%;
   max-width: 65%;
}
.char-single.char-single-left img {
    right: -2%;
    left: auto;
}		
.char-left img {
    left: -5%;
    bottom: -20px;
	max-width: 52%;
}
.char-right img {
    right: -5%;
    bottom: -20px;
	max-width: 52%;
}	
}
	
	
.typing-effect {
    opacity: 0; 
    animation: typing 1s forwards;
}
.typing-effect-2 {	
animation-delay: 1s;
}
.typing-effect-3 {	
animation-delay: 1s;
}
.typing-effect-4 {	
animation-delay: 1s;
}
.typing-effect-5 {	
animation-delay: 1s;
}
@keyframes typing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes blink {
            0% {
                opacity: 0;
            }
            25% {
                opacity: 1;
            }
            75% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }

        
/*survey.php*/

.un-quiz-question {
    background: rgb(255 255 255 / 90%);
    margin-top: 0px;
    padding: 5px 5px;
    border-radius: 10px;
}
.un-quiz-options {
    background: rgb(255 255 255 / 90%);
    margin-top: 5px;
    padding: 5px 5px;
    border-radius: 10px;
}	
.un-quiz-options li {
    padding: 5px;
    background-color: #e5e5e5b0;
    border-radius: 10px;
    margin-bottom: 4px;
    border-bottom: dashed 1px #4779a0;
    list-style-type: none;
    cursor: pointer;
}	
.un-quiz-options li.wrong {
    background-color: #e05f5fb0 !important;
}	
.un-quiz-options li.correct {
    background-color: #45bd3db0 !important;
}		
	
.typing-effect {
    opacity: 0; 
    animation: typing 1s forwards;
}


@keyframes typing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*quiz.php*/

.un-quiz-question {
    background: rgb(255 255 255 / 90%);
    margin-top: 0px;
    padding: 5px 5px;
    border-radius: 10px;
}
.un-quiz-options {
    background: rgb(255 255 255 / 90%);
    margin-top: 5px;
    padding: 5px 5px;
    border-radius: 10px;
}	
.un-quiz-options li {
    padding: 5px;
    background-color: #e5e5e5b0;
    border-radius: 10px;
    margin-bottom: 4px;
    border-bottom: dashed 1px #4779a0;
    list-style-type: none;
    cursor: pointer;
}	
.un-quiz-options li.wrong {
    background-color: #e05f5fb0 !important;
}	
.un-quiz-options li.correct {
    background-color: #45bd3db0 !important;
}		
	
.typing-effect {
    opacity: 0; 
    animation: typing 1s forwards;
}


@keyframes typing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
	
/*game*/

    .game-container {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-gap: 10px;
        justify-content: center;
        margin-top: 20px;
    }

    .game-cell {
        width: 100px;
        height: 100px;
        background-color: #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 8px;
        font-size: 2em;
    }

    .game-cell.flipped {
        background-color: #fff;
    }

    .game-message {
        text-align: center;
        margin-top: 20px;
    }



